/* CSS */
.button {
  font-size: 13px;
  color: #4b1aa1;
  cursor: pointer;
  padding-block: 5px;
  padding-inline: 7px;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  border-radius: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
//.button:hover {
//  box-shadow: 4px 4px 0px 0px;
//  top: 1px;
//  left: 1px;
//}


