.navbar{
  width: 60%;
  margin: auto;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 160px;
  flex: auto;
  justify-content: space-between;
  padding-inline: 10%   ;
  align-items: center;
  .menu_item{
    flex: 1 1 auto  ;
    font-size: 25px;

  }
}
